* {
    font-family: 'Cinzel Decorative', cursive;
}

body {
    background-image: url(img/localizaciones/f_loc_sa.jpg);
    background-size: cover;
    grid-template-rows: 10% 85% 5%;
}

header {
    font-weight: 400;
}

header .titulo p {
    font-family: 'Anton', sans-serif;
    font-family: 'Carter One', cursive;
}

nav h1,
nav p {
    font-family: 'Anton', sans-serif;
    font-family: 'Carter One', cursive;
}


/* MAIN */
main {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 10% 30% 30% 30%;
    row-gap: 80px;
    margin: 15px;
    justify-items: center;
    margin-bottom: 50px;

}

/* BUSCADOR */

.tour{
    display: grid;
    align-items: center;
    justify-items: center;
}

label {

    font-family: 'Cinzel Decorative', cursive;
    color: #253529;
    font-size: 40px;
    -webkit-text-stroke: #253529 solid 2px;

}

input {
    display: grid;
    align-self: center;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
}

.buscador {
    position: relative;
    width: 45px;
    height: 45px;
    padding: 10px;
    transition-duration: 500ms;
    cursor: pointer;
    font-size: 18px;
    color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(img/icono_buscador.png);
    background-color: #D8D3C8b3;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 45% 50%;
}

.buscador:hover {
    border: 1px solid #253529;
}

.buscador:focus {
    width: 300px;
    height: 30px;
    cursor: text;
    padding-left: 40px;
    color: #253529;
    outline: none;
    background-color: transparent;
    border: 2px solid #253529;
    border-radius: 2%;
    background-color: transparent;
    background-size: 22px;
    background-position: 10px 50%;
}


/* localizaciones */


article iframe {
    border: 8px solid #253529a4;
    width: 300px;
    height: 200px;
}

article .rectangulo {
    color: #D8D3C8;
    display: grid;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.414), inset -4px -4px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    width: 300px;
    height: 60px;
    padding: 8px;
    background-color: #253529a4;


}

article .rectangulo em {
    font-size: 11px;
}

article a{
    color: #D8D3C8;
    font-weight: bold;

}

article a:hover{
    text-decoration: none;
    color: antiquewhite;
}


.lacomarca {
    grid-row: 2/3;
    transform: rotate(10deg);
}



.mordor {
    grid-row: 2/3;
    transform: rotate(10deg);
}

.mordor .rectangulo,
.mordor iframe,
.edoras .rectangulo,
.edoras iframe,
.moria .rectangulo,
.moria iframe {
    width: 330px;
}

.edoras {
    grid-row: 2/3;
    transform: rotate(10deg);
}

.rivendell {
    grid-row: 3/4;
    transform: rotate(-10deg);
}

.rivendell .rectangulo {
    height: 90px;
}

.minastirith {
    grid-row: 3/4;
    grid-column: 2/3;
    transform: rotate(-10deg);
}

.minastirith .rectangulo {

    height: 85px;
}

.cueva {
    grid-row: 3/4;
    transform: rotate(-10deg);
}

.shelob {
    grid-row: 4/5;
    transform: rotate(10deg);
}

.montedeldestino {
    grid-row: 4/5;
    transform: rotate(10deg);
}

.moria {
    grid-row: 4/5;
    transform: rotate(10deg);
}



/* FOOTER */

footer {
    margin-top: 200px;
}

footer p,
footer a {
    font-family: 'Crayonest';
    font-style: normal;
    font-weight: 100;
}

@media screen and (max-width: 640px) {

    /* CUERPO */
    body {
        grid-template-rows: 6% 90% 5%;
    }

    /* MAIN */
    main {
        grid-template-columns: 100%;
        grid-template-rows: 10% 22.5% 22.5% 22.5%;
        row-gap: 4px;
        column-gap: 5px;
    }

    main h1 {
        grid-column: 1/2;
    }

    .lacomarca {
        grid-row: 2/3;
        transform: rotate(10deg);
    }

    .mordor {
        grid-row: 3/4;
        transform: rotate(-10deg);
    }

    .moria {
        grid-row: 4/5;
        transform: rotate(10deg);
    }


    .rivendell {
        grid-row: 5/6;
        transform: rotate(-10deg);
    }

    .minastirith {
        display: none;
    }

    .cueva {
        display: none;
    }

    .shelob {
        display: none;

    }

    .montedeldestino {
        display: none;
    }

    .edoras {
        display: none;
    }



}

@media screen and (min-width: 640px) and (max-width:1200px) {

    /* CUERPO */
    body {
        grid-template-rows: 8% 90% 5%;
    }

    /* MAIN */
    main {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 12% 30% 30% 30%;
        row-gap: 2px;
        column-gap: 5px;
    }

    main h1 {
        grid-column: 1/3;
    }

    article iframe {
        width: 250px;
        height: 150px;
    }

    article .rectangulo {
        width: 250px;
        height: 60px;
        padding: 8px;
    }

    em {
        display: none;
    }


    .lacomarca {
        grid-row: 2/3;
        transform: rotate(10deg);
    }

    .mordor {
        grid-row: 2/3;
        transform: rotate(10deg);
    }

    .edoras {
        grid-row: 3/4;
        transform: rotate(-10deg);
    }

    .rivendell {
        grid-row: 3/4;
        transform: rotate(-10deg);
    }

    .minastirith {
        grid-row: 4/5;
        transform: rotate(10deg);
    }

    .cueva {
        grid-row: 4/5;
        transform: rotate(10deg);
    }

    .shelob {
        display: none;

    }

    .montedeldestino {
        grid-row: 5/6;
        transform: rotate(-10deg);
    }

    .moria {
        grid-row: 5/6;
        transform: rotate(-10deg);
    }

    .mordor .rectangulo,
    .mordor iframe,
    .edoras .rectangulo,
    .edoras iframe,
    .moria .rectangulo,
    .moria iframe {
        width: 260px;
    }

}
