body {
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

main {
    display: grid;
    padding: 150px;
}

article {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20% 80%;
    justify-items: center;
}

article img {
    grid-row: 1/3;
    grid-column: 2/3;
    height: 500px;
}

article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-row: 2/3;
    color: black;
}

@media screen and (max-width: 640px) {
    body {
        display: grid;
        grid-template-rows: 15% 80% 5%;


    }

    main {
        display: grid;
        padding: 5px;
    }

    article {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 30% 70%;
        justify-items: center;
    }

    article img {
        grid-row: 1/2;
        grid-column: 2/3;
        height: 200px;
    }

    article p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        grid-row: 2/3;
        grid-column: 1/3;
        color: black;
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    body {
        display: grid;
        grid-template-rows: 15% 80% 5%;
    }

    main {
        display: grid;
        padding: 10px;
    }

    article {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 10% 70%;
        justify-items: center;
    }

    article img {
        grid-row: 1/3;
        grid-column: 2/3;
        height: 400px;
    }

    article p {
        margin-top: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        grid-row: 2/3;
        color: black;
    }
}
